/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;700&display=swap');

:root {
	--default-font: 'Poppins', sans-serif;
	--default-font-size: 10px;
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: var(--default-font);
	font-size:  var(--default-font-size);
	line-height: 1.6;
	font-weight: 300;
}

h1 {
 font-size: 5rem;
}

p {
	font-size: 1.8rem;
}

button {
	font-family: var(--default-font);
	cursor: pointer;
	font-weight: 300;
	font-size: 1.6rem;
	color: white;
}

header {
	padding: 1.2rem 0em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: box-shadow .2s;
}

img:hover {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

#content {
	background-image: linear-gradient(35deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/backdrop.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.logo {
	font-weight: 700;
	font-size: 3rem;
	color: white;
}

.home-tab, .menu-tab, .contact-tab {
	background-color: transparent;
	padding: 0.5rem 2rem;
	margin: 0 2rem;
	border: none;
}

.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70%;
	color: white;
}

.menu-container {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 2rem;
	width: 80%;
	padding: 3rem 0;
}

.main-quote, .description, .check-menu {
	animation-name: show-up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes show-up {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

span {
	color: red;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 3.5rem;
	}

	p {
		font-size: 1.8rem;
	}

	.home-tab, .menu-tab, .contact-tab {
		display: none;
	}

	header {
		justify-content: center;
	}

	.main-quote {
		max-width: 500px;
		text-align: center;
	}

}